<%= form_for @unit, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :bedrooms, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :bedrooms, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :bathrooms, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :bathrooms, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :square_footage, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :square_footage, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :available_parking, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :available_parking, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :parking_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :parking_type, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :date_available, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :date_available, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :monthly_rent, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :monthly_rent, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :application_fee, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :application_fee, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :application_form, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :application_form, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :pets_allowed, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :pets_allowed, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :pet_deposit, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :pet_deposit, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :access, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :access, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :commission_percentage, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :commission_percentage, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :occupant, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :occupant, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tenant_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tenant_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tenant_phone_number, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tenant_phone_number, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :contact_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :contact_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :contact_phone_number, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :contact_phone_number, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address_line_1, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address_line_1, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address_line_2, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address_line_2, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :city, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :city, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :state, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :state, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :zipcode, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :zipcode, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :status, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :status, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :availability, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :availability, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :agent_remarks, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :agent_remarks, :class => 'text_area' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                units_path, :class => 'btn' %>
  </div>
<% end %>
