<%- model_class = Unit -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:bedrooms) %>:</strong></dt>
  <dd><%= @unit.bedrooms %></dd>
  <dt><strong><%= model_class.human_attribute_name(:bathrooms) %>:</strong></dt>
  <dd><%= @unit.bathrooms %></dd>
  <dt><strong><%= model_class.human_attribute_name(:square_footage) %>:</strong></dt>
  <dd><%= @unit.square_footage %></dd>
  <dt><strong><%= model_class.human_attribute_name(:available_parking) %>:</strong></dt>
  <dd><%= @unit.available_parking %></dd>
  <dt><strong><%= model_class.human_attribute_name(:parking_type) %>:</strong></dt>
  <dd><%= @unit.parking_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:date_available) %>:</strong></dt>
  <dd><%= @unit.date_available %></dd>
  <dt><strong><%= model_class.human_attribute_name(:monthly_rent) %>:</strong></dt>
  <dd><%= @unit.monthly_rent %></dd>
  <dt><strong><%= model_class.human_attribute_name(:application_fee) %>:</strong></dt>
  <dd><%= @unit.application_fee %></dd>
  <dt><strong><%= model_class.human_attribute_name(:application_form) %>:</strong></dt>
  <dd><%= @unit.application_form %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pets_allowed) %>:</strong></dt>
  <dd><%= @unit.pets_allowed %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pet_deposit) %>:</strong></dt>
  <dd><%= @unit.pet_deposit %></dd>
  <dt><strong><%= model_class.human_attribute_name(:access) %>:</strong></dt>
  <dd><%= @unit.access %></dd>
  <dt><strong><%= model_class.human_attribute_name(:commission_percentage) %>:</strong></dt>
  <dd><%= @unit.commission_percentage %></dd>
  <dt><strong><%= model_class.human_attribute_name(:occupant) %>:</strong></dt>
  <dd><%= @unit.occupant %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tenant_name) %>:</strong></dt>
  <dd><%= @unit.tenant_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tenant_phone_number) %>:</strong></dt>
  <dd><%= @unit.tenant_phone_number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:contact_name) %>:</strong></dt>
  <dd><%= @unit.contact_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:contact_phone_number) %>:</strong></dt>
  <dd><%= @unit.contact_phone_number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address_line_1) %>:</strong></dt>
  <dd><%= @unit.address_line_1 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address_line_2) %>:</strong></dt>
  <dd><%= @unit.address_line_2 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
  <dd><%= @unit.city %></dd>
  <dt><strong><%= model_class.human_attribute_name(:state) %>:</strong></dt>
  <dd><%= @unit.state %></dd>
  <dt><strong><%= model_class.human_attribute_name(:zipcode) %>:</strong></dt>
  <dd><%= @unit.zipcode %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @unit.status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:availability) %>:</strong></dt>
  <dd><%= @unit.availability %></dd>
  <dt><strong><%= model_class.human_attribute_name(:agent_remarks) %>:</strong></dt>
  <dd><%= @unit.agent_remarks %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              units_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_unit_path(@unit), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              unit_path(@unit),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
