<p id="notice"><%= notice %></p>

<p>
  <b>Bedrooms:</b>
  <%= @unit.bedrooms %>
</p>

<p>
  <b>Bathrooms:</b>
  <%= @unit.bathrooms %>
</p>

<p>
  <b>Square footage:</b>
  <%= @unit.square_footage %>
</p>

<p>
  <b>Available parking:</b>
  <%= @unit.available_parking %>
</p>

<p>
  <b>Parking type:</b>
  <%= @unit.parking_type %>
</p>

<p>
  <b>Date available:</b>
  <%= @unit.date_available %>
</p>

<p>
  <b>Monthly rent:</b>
  <%= @unit.monthly_rent %>
</p>

<p>
  <b>Application fee:</b>
  <%= @unit.application_fee %>
</p>

<p>
  <b>Application form:</b>
  <%= @unit.application_form %>
</p>

<p>
  <b>Pets allowed:</b>
  <%= @unit.pets_allowed %>
</p>

<p>
  <b>Pet deposit:</b>
  <%= @unit.pet_deposit %>
</p>

<p>
  <b>Access:</b>
  <%= @unit.access %>
</p>

<p>
  <b>Commission percentage:</b>
  <%= @unit.commission_percentage %>
</p>

<p>
  <b>Occupant:</b>
  <%= @unit.occupant %>
</p>

<p>
  <b>Tenant name:</b>
  <%= @unit.tenant_name %>
</p>

<p>
  <b>Tenant phone number:</b>
  <%= @unit.tenant_phone_number %>
</p>

<p>
  <b>Contact name:</b>
  <%= @unit.contact_name %>
</p>

<p>
  <b>Contact phone number:</b>
  <%= @unit.contact_phone_number %>
</p>

<p>
  <b>Address line 1:</b>
  <%= @unit.address_line_1 %>
</p>

<p>
  <b>Address line 2:</b>
  <%= @unit.address_line_2 %>
</p>

<p>
  <b>City:</b>
  <%= @unit.city %>
</p>

<p>
  <b>State:</b>
  <%= @unit.state %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @unit.zipcode %>
</p>

<p>
  <b>Status:</b>
  <%= @unit.status %>
</p>

<p>
  <b>Availability:</b>
  <%= @unit.availability %>
</p>

<p>
  <b>Agent remarks:</b>
  <%= @unit.agent_remarks %>
</p>


<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
